services:
  image:
    container_name: tsp-24-app
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - "./src:/app/src"
    ports:
      - 3000:3000
    environment:
      - CHOKIDAR_USEPOLLING=true
